 <div class="user-details">
  <h1> Theory Interests </h1>
  <p> {{site.user_description_theory}} </p>
  <h1> Applied Interests </h1>
  <p> {{site.user_description_applied}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <p>Fluent in MATLAB, C++, and Python. Familiar with Fortran, HTML, and JavaScript.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <p>Frequently use Ubuntu for Linux-optimized programming projects, and Atom and Git for editing/version control, respectively.</p>
    </div>
</div>
