<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
 <div class="user-details">
  <h1 style="color: white;"> Theory Interests </h1>
  <p  style="color: white;"> {{site.user_description_theory}} </p>
  <h1 style="color: white;"> Applied Interests </h1>
  <p style="color: white;"> {{site.user_description_applied}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h1 style="color: white;">Code</h1>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-matlab-plain colored"></i>
      <p style="color: white;">Fluent in Python and MATLAB. Familiar with C++, Fortran 90, Kotlin, HTML, and JavaScript. Learning C#.</p>
    </div>
    <div class="tech">
      <h1 style="color: white;">Tools</h1>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-anaconda-original colored"></i>
      <p style="color: white;">Proficient with Docker, Anaconda, Git and Subversion. Familiar with Kubernetes.</p>
    </div>
    <div class="tech">
      <h1 style="color: white;">ML/AI</h1>
      <i class="devicon-pytorch-original colored"></i>
      <i class="devicon-numpy-plain colored"></i>
      <p style="color: white;">Primarily focused on PyTorch and Numpy, with experience in Pandas and OpenCV. Learning SKLearn and Tensorflow.</p>
    </div>
    <div class="tech">
      <h1 style="color: white;">Data</h1>
      <i class="devicon-prometheus-original colored"></i>
      <i class="devicon-grafana-original"></i>
      <p style="color: white;"> Well versed in Prometheus and Grafana, with experience in R. Learning SQL.</p>
    </div>
</div>
