<div class="user-details">
    <h1> Text and Thoughts </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/meteor.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
      <h3> Choice </h3>
      <p>I don't like that I have to choose.</p>
      <a class="project-link" href="/choice">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> Spices and Rice </h3>
    <p>A kid finds their way through cooking</p>
    <a class="project-link" href="/spice">Check it out</a>
  </div>
</div>


