<div class="user-details">
  <h1> Thoughts and Text </h1>
</div>
<div class="user-projects">
  
  <div class="contents-right">
    <h3> Choice </h3>
    <p> I don't like that I have to choose</p>
    <a class="project-link" href="/choice">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/drone.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Perspective </h3>
    <ul>
      <li> Artificial Intelligence</li>
      <li> CAD</li>
    </ul>
    <p>Personal drone project</p>
    <a class="project-link" href="/spice">Check it out</a>
  </div>
</div>
