<div id="particles-js">
   <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
   <script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
   <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
   <div class="header">
      <div class="header-links">
         <a class="link" href="../" style="font-size: 100px" >Home </a></br>
      <a class="link" href="../projects" style="font-size: 100px" >Projects </a></br>
        <a class="link" href="../blog" style="font-size: 100px; margin-bottom: 100px;" >Blog </a>
      </div>
    </div>
</div>

