<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="meteors" src="{{ "/assets/img/meteor.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> RASR </h3>
    <ul>
      <li> Deep Learning </li>
      <li> Information Fusion </li>
    </ul>
    <p>Space object entry tracking for meteors and space debris.</p>
    <a class="project-link" href="https://github.com/ysarda/rasr">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="starcraft" src="{{ "/assets/img/starcraft.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Gamebreaker </h3>
    <ul>
      <li> Deep Learning </li>
      <li> Optimization </li>
    </ul>
    <p> Battlefield evaluation, prediction, and composition optimization for Starcraft 2 and NGTS.</p>
    <a class="project-link" href="https://www.darpa.mil/program/gamebreaker">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/minecraft.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> MineZero </h3>
    <ul>
      <li> Deep Reinforcement Learning </li>
      <li> Human-Agent Teaming </li>
    </ul>
    <p> Exploring Minecraft as an open-world simulator for RL agents, with various objectives like collection, survival, and architecture.</p>
    <a class="project-link" href="https://github.com/ysarda/minezero">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="drone" src="{{ "/assets/img/drone.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Perspective </h3>
    <ul>
      <li> Deep Reinforcement Learning</li>
      <li> Topology Optimization </li>
    </ul>
    <p>Personal project on blended wing VTOL drones and autonomous flight.</p>
    <a class="project-link" href="https://github.com/ysarda/perspective">Check it out</a>
  </div>
</div>
