<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="meteors" src="{{ "/assets/img/meteor.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> RAZR </h3>
    <ul>
      <li> Python </li>
      <li> HTML </li>
    </ul>
    <p>Space object entry tracking for meteors and space debris. </p>
    <a class="project-link" href="/razr">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="drone" src="{{ "/assets/img/drone.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Perspective </h3>
    <ul>
      <li> Artificial Intelligence</li>
      <li> CAD</li>
    </ul>
    <p>Personal blended wing drone project.</p>
    <a class="project-link" href="/pst">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="thrust" src="{{ "/assets/img/rocket.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Thrust Vector Control </h3>
    <ul>
      <li> ANSYS Fluent </li>
      <li> MATLAB </li>
    </ul>
    <p>Thrust vectoring of a space-capable rocket.</p>
    <a class="project-link" href="/tvc">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="cfd" src="{{ "/assets/img/rocket.jpeg" | prepend: site.baseurl }}" style="width:200px;height:100px;"/>
  </div>
  <div class="contents">
    <h3> Direct Numerical Simulation </h3>
    <ul>
      <li> Python </li>
      <li> Fortran </li>
    </ul>
    <p>A CFD project on turbulent boundary layers.</p>
    <a class="project-link" href="/dns">Check it out</a>
  </div>
</div>
