<div class="user-details">
  <h1> More Projects </h1>
  </div>
  <div class="user-projects">
    <div class="images-right">
      <img alt="mountains" src="{{ "/assets/img/drone.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Perspective </h3>
      <ul>
        <li> Artificial Intelligence</li>
        <li> CAD</li>
      </ul>
      <p>Personal project on blended wing VTOL drones and autonomous flight.</p>
      <a class="project-link" href="/pst">Check it out</a>
    </div>
  </div>
