<head>
  <style type="text/css">
    .contents-right{
      margin-top: -10px;
    }
    .user-projects{
      transition: all .7s;
    }
    .user-projects:hover{
      background-color: rgba(255, 255, 255, 0.1);
    }
    @media screen and (max-width: 600px) {
      .user-projects {
          width: 100%;
          padding-left: 20px;
          padding-right: 20px;
          box-sizing: border-box;
      }
    }
  </style>
</head>
<div class="user-details">
  <h1 style="color: white;"> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="https://portalis.ai/">
      <img alt="portalis" src="{{ "/assets/img/portalis.png" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents-right">
    <h3 style="color: white;"> Portalis </h3>
    <ul>
      <li style="color: white;"> Large Language Models </li>
      <li style="color: white;"> Server Engineering </li>
    </ul>
    <p style="color: white;"> Speech to speech AI avatars, capable of memory, lookups, and document access. </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="https://www.darpa.mil/program/gamebreaker">
      <img alt="starcraft" src="{{ "/assets/img/starcraft.jpg" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents-right">
    <h3 style="color: white;"> Gamebreaker </h3>
    <ul>
      <li style="color: white;"> Deep Learning </li>
      <li style="color: white;"> Optimization </li>
    </ul>
    <p style="color: white;"> Battlefield evaluation, prediction, and composition optimization for Starcraft 2 and the Next Generation Threat System. </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="https://github.com/ysarda/minezero">
      <img alt="mountains" src="{{ "/assets/img/minecraft.jpg" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents-right">
    <h3 style="color: white;"> MineZero </h3>
    <ul>
      <li style="color: white;"> Deep Reinforcement Learning </li>
      <li style="color: white;"> Human-Agent Teaming </li>
    </ul>
    <p style="color: white;"> Exploring Minecraft as an open-world simulator for RL agents, with various objectives like collection, survival, and architecture. </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="https://github.com/ysarda/perspective">
      <img alt="drone" src="{{ "/assets/img/drone.jpg" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents-right">
    <h3 style="color: white;"> Perspective </h3>
    <ul>
      <li style="color: white;"> Deep Reinforcement Learning</li>
      <li style="color: white;"> Topology Optimization </li>
    </ul>
    <p style="color: white;"> Personal project on blended wing VTOL drones and autonomous flight. </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="https://github.com/ysarda/rasr">
      <img alt="meteors" src="{{ "/assets/img/meteor.jpg" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents-right">
    <h3 style="color: white;"> RASR </h3>
    <ul>
      <li style="color: white;"> Deep Learning </li>
      <li style="color: white;"> Information Fusion </li>
    </ul>
    <p style="color: white;"> Space object entry tracking for meteors and space debris. </p>
  </div>
</div>
